html {
    user-select: none;
    font-family: Arial, sans-serif;
    font-size: large;
    color: white;
    text-shadow: 1px 1px 2px #000;
    background: linear-gradient(#444 6%, #222 6%);
}

body {
    width: 100%;
    margin: 0;
}

#page {
    padding: 10px;
    width: calc(100% - 20px);
    max-width: 1000px;
    margin: auto;
}

#title {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    overflow: visible;
}

#title > img {
    animation: 1s ease-in-out 0s 1 slideIn;
}

@keyframes slideIn {
    0%   {
        opacity: 0;
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.9)) brightness(1.75) ;
        transform: scale(0.95);
    }
    50% {
        opacity: 1;
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.9)) brightness(1.75) ;
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }

    /*0%   {*/
    /*    opacity: 0;*/
    /*    transform: translateY(-80px)*/
    /*}*/
    /*100% {*/
    /*    opacity: 1;*/
    /*    transform: translateY(0);*/
    /*}*/
}


#content {
    display: flex;
    flex-direction: column;
}

ul {
    padding-left: 20px;
    margin-bottom: 0;
}

h2 {
    margin: 0;
}

#hidden {
    display: none;
}

.card {
    margin-top: 80px;
}
.cardInfo {
    display: flex;
    flex-direction: row;
}
.cardIcon {
    width: 200px;
    max-width: 25vw;
    margin: 0;
    display: block;
}
.cardContent {
    flex-grow: 1;
    margin-left: 20px;
}
.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.cardScreenshots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.screenshotStack {
    position: relative;
    width: calc(33% - 12px);
}
.screenshotImg {
    width: 100%;
    display: block;
}
.screenshotHover {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    cursor: pointer;
}
.screenshotHover:hover {
    opacity: 1;
}
.hoverBackground {
    position: absolute; top: 0; right: 0;bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.5);
}
.hoverForeground {
    position: absolute; top: 0; right: 0;left: 0; bottom: 0; margin: auto; width: 20%;
    pointer-events: none;
}

.mini-button {
    border:  1px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    cursor: pointer;
    width: 60px;
    height: 42px;
    padding: 1px 0 1px 0;
    margin-left: 1px;
    background-image: linear-gradient(#444, #2d2d2d), linear-gradient(#999, #444 10px, #111 100%);
    transition: background-image 0.6s linear;
    color: white;
    font-size: large;
    display: flex;
    align-items: center;
    z-index: 100;
}
.mini-buttonlist > .mini-button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1px 0 1px 1px;
    margin-left: 0;
}
.mini-buttonlist > .mini-button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1px 1px 1px 0;
}
.mini-buttonlist {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #111;
    box-shadow: 0 0 0.5vmin 2px #111;
}
.mini-selectlist > .mini-button:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1px;
    margin-bottom: 0;
}
.mini-selectlist.closed > .mini-button:first-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1px 1px 1px 0;
}
.mini-selectlist > .mini-button:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1px 0 1px 0;
}
.mini-selectlist {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #111;
    box-shadow: 0 0 0.5vmin 2px #111;
    align-self: end;
}
.mini-button:active > img {
    margin-top: 7px;
    margin-bottom: 3px;
}
.mini-button > .bttxt {
    margin-right: 10px;
    display: none;
}
.mini-button > .optLong {
    display: none;
    margin-left: 10px;
}
.mini-button > .optShort {
    display: block;
    margin-left: 10px;
}
.mini-button:active > .bttxt {
    margin-top: 12px;
    margin-bottom: 8px;
}
.mini-img {
    margin: 5px 15px 5px 15px;
    height: 30px;
    width: 30px;
    max-height: calc(100% - 10px);
    pointer-events: none;
}

.mini-button:hover, .mini-button:focus {
    background-image: linear-gradient(#555555, #383838), linear-gradient(#ccc, #555 10px, #222 100%);
}
.mini-button:active {
    background-image: linear-gradient(#202020, #2c2c2c), linear-gradient(#222, #111 calc(100% - 10px), #aaa 100%);
}

@media screen and (min-width: 1000px) {
    .mini-button {
        width: 120px;
    }
    .mini-button > .bttxt {
        display: block;
    }
    .mini-img {
        margin: 5px 5px 5px 15px;
    }
    .select .mini-img {
        margin-left: 10px;
    }
    .mini-button > .optLong {
        display: block;
    }
    .mini-button > .optShort {
        display: none;
    }
    .cardScreenshots.portrait {
        margin-top: 0;
    }
}
@media screen and (max-width: 1000px) {
    .cardScreenshots.landscape {
        margin-top: 0;
    }
}

.select {
    height: 42px;
    align-self: end;
}
.option {
    transition: height 0.3s ease, visibility 0.3s ease 0s;
    visibility: visible;
    overflow: hidden;
    z-index: 90;
}
.closed > .option {
    height: 0;
    padding: 0;
    transition: height 0.3s ease, visibility 0s ease 0.3s;
    visibility: hidden;
    pointer-events: none;
}

#popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 200;
}

.popupImg {
    margin: auto;
    max-width: calc(100% - 40px);
    max-height: calc(100% - 40px);
    cursor: pointer;
    position: absolute;
    width: auto;
    transition: opacity 0.4s, transform 0.4s;
}

.popupImg[data-index="1"] {
    transform: translateX(-50vw);
    opacity: 0;
    pointer-events: none;
}
.popupImg[data-index="3"] {
    transform: translateX(50vw);
    opacity: 0;
    pointer-events: none;
}

#popupClose, #popupPrev, #popupNext {
    position: fixed;
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: filter 0.4s;
    z-index: 250;
}
#popupClose:hover, #popupPrev:hover, #popupNext:hover {
    filter: drop-shadow(0px 0px 2px #fff);
}

#popupClose {
    top: 20px;
    right: 20px;
}
#popupPrev {
    bottom: 20px;
    left: 20px;
}
#popupNext {
    bottom: 20px;
    right: 20px;
}

.popup-init {
    visibility: hidden;
    opacity: 0;
}
.popup-show {
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}
.popup-hide {
    animation: 1s fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.copyright {
    display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; align-items: flex-end;
    margin-top: 60px;
    margin-bottom: 18px;
}
nobr {
    margin-top: 10px;
}

.mailImg {
    width: 40px;
    margin-bottom: -8px;
}

a {
    height: fit-content;
}

a:link {
    color: #FC9B00;
    transition: color 0.3s ease;
}
a:visited {
    color: #DE5B00;
}
a:hover, a:focus {
    color: #FDC400;
}
a:active {
    color: #FDC400;
}

.background {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: -40px;
    left: 0;
    background: linear-gradient(#444, #222);
}

.reveal{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
